.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para ocupar toda la altura de la ventana */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    color: black;
    padding-right: 20px;
  }
  
  .input {
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: black;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .titulo{
    color: black;
  }
  